<br>
<%= image_tag("bluelogo.png", :alt => "bluelogo", class:"bluelogo") %>
<br>
<br>
<p class="loginheader">Avoid penalties </p>
<p class="loginheader">Pay your taxes on time</p>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please sign in</h3>
        </div>
        <div class="panel-body">
          <!-- <h2>Log in</h2> -->
          <%= form_tag sessions_path do %>

          <div class="form-group">
            <%= label_tag :username %>
            <%= text_field_tag :username %>
          </div>
          <div class="form-group">
            <%= label_tag :password %>
            <%= password_field_tag :password%>
          </div>
          <p>
            <%= submit_tag 'Log in',  :class => "btn btn-info btn-mini" %>
          </p>
          <br>
          <p class="signin">Don't have an account? </p>
          <%= link_to 'Sign up here.', users_new_path %>
          <% end  %>
        </div>
      </div>
    </div>
  </div>
</div>
