<p id="notice"><%= notice %></p>
<div class="bizowner">
  <%= image_tag("owner.png", :alt => "ownerlogo", size: "290x220", class:"ownerlogo") %>
</div>
<p class="companiesheader"> Spend less time worrying about taxes</p>
<p class="companiesheader">  and more time building your business.</p>
<br>
<br>
<%= link_to 'Create a new company', new_company_path, class:"btn btn-primary btn-lg" %>
<div class="space"></div>
<p class="companiesheader">Select company below</p>
<br>
<br>
<div class="row1">
  <% @companies.each do |company| %>
  <p class="companynames"><%= company.name.capitalize %></p>
  <div class="companybuttons">
    <%= link_to 'View', company, class: 'btn btn-success btn-sm' %>
    <%= link_to 'Edit', edit_company_path(company), class: 'btn btn-info btn-sm' %>
    <%= link_to 'Delete', company, method: :delete,class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %>
  </div>
  <hr>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
      <tr>

      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
