<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>User:</strong>
  <%= @company.user.username %>
</p> -->

<p>
  <strong>Company Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<% if @company.corporation %>
<p>
  <strong>Corporation</strong>
  <!-- <%= @company.corporation %> -->
</p>
<% end %>

<% if @company.scorp %>
<p>
  <strong>S Corp</strong>
  <!-- <%= @company.scorp %> -->
</p>
<% end %>

<% if @company.llc %>
<p>
  <strong>LLC</strong>
  <!-- <%= @company.llc %> -->
</p>
<% end %>

<% if @company.soleprop %>
<p>
  <strong>Sole Prop</strong>
  <!-- <%= @company.soleprop %> -->
</p>
<% end %>

<% if @company.partners %>
<p>
  <strong>Partners: </strong>
  Yes
  <!-- <%= @company.partners %> -->
</p>
<% end %>

<% if @company.manypartners %>
<p>
  <strong>More than 100 partners: </strong>
  Yes
  <!-- <%= @company.manypartners %> -->
</p>
<% end %>

<% if @company.employees %>
<p>
  <strong>Employees:</strong>
  Yes
  <!-- <%= @company.employees %> -->
</p>
<% end %>

<% if @company.employeebenefits %>
<p>
  <strong>Employee Benefits:</strong>
  Yes
  <!-- <%= @company.employeebenefits %> -->
</p>
<% end %>

<% if @company.contractors %>
<p>
  <strong>Contractors:</strong>
  Yes
  <!-- <%= @company.contractors %> -->
</p>
<% end %>

<% if @company.agriculture %>
<p>
  <strong>Agriculture Employees:</strong>
  Yes
  <!-- <%= @company.agriculture %> -->
</p>
<% end %>

<% if @company.incomeproperties %>
<p>
  <strong>Income Properties:</strong>
  Yes
  <!-- <%= @company.incomeproperties %> -->
</p>
<% end %>

<% if @company.ff %>
<p>
  <strong>Fishing and Farming:</strong>
  Yes
  <!-- <%= @company.ff %> -->
</p>
<% end %>

<% if @company.wagering %>
<p>
  <strong>Casino and Gambling:</strong>
  Yes
  <!-- <%= @company.wagering %> -->
</p>
<% end %>

<% if @company.trucking %>
<p>
  <strong>Vehicle with gross weight of 55,000 or more:</strong>
  Yes
  <!-- <%= @company.trucking %> -->
</p>
<% end %>

<% if @company.excisetax %>
<p>
  <strong>Excise Tax:</strong>
  Yes
  <!-- <%= @company.excisetax %> -->
</p>
<% end %>
<%= link_to 'Edit My Info', edit_company_path(@company), class: 'btn btn-info btn-sm' %>
<div class="space"></div>

<%= month_calendar do |date| %>
  <%= date %>
<% end %>

<%= link_to 'Back', companies_path %>
