<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @company.user.username %>
</p>

<p>
  <strong>Company Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Partners:</strong>
  <%= @company.partners %>
</p>

<p>
  <strong>Many Partners:</strong>
  <%= @company.manypartners %>
</p>

<p>
  <strong>Corporation:</strong>
  <%= @company.corporation %>
</p>

<p>
  <strong>S Corp:</strong>
  <%= @company.scorp %>
</p>

<p>
  <strong>LLC:</strong>
  <%= @company.llc %>
</p>

<p>
  <strong>Sole Prop:</strong>
  <%= @company.soleprop %>
</p>

<p>
  <strong>Employees:</strong>
  <%= @company.employees %>
</p>

<p>
  <strong>Employee Benefits:</strong>
  <%= @company.employeebenefits %>
</p>

<p>
  <strong>Contractors:</strong>
  <%= @company.contractors %>
</p>

<p>
  <strong>Income Properties:</strong>
  <%= @company.incomeproperties %>
</p>

<p>
  <strong>Fishing and Farming:</strong>
  <%= @company.ff %>
</p>

<p>
  <strong>Wagering:</strong>
  <%= @company.wagering %>
</p>

<p>
  <strong>Excise Tax:</strong>
  <%= @company.excisetax %>
</p>

<p>
  <strong>Trucking:</strong>
  <%= @company.trucking %>
</p>

<p>
  <strong>Agriculture:</strong>
  <%= @company.agriculture %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
