<p id="notice"><%= notice %></p>

<p class="companiesheader">
  <%= @company.name.capitalize %>
</p>
<br>
<ul class="list-group">
  <li class="list-group-item">
    <p>
      <strong>Email:</strong>
      <%= @company.email %>
    </p>
  </li>
  <li class="list-group-item">
    <p>
      <strong>Phone:</strong>
      <%= @company.phone %>
    </p>
  </li>

  <% if @company.corporation %>
  <li class="list-group-item">
    <p>
      <strong>Company Type:</strong>
      Corporation
    </p>
  </li>
  <% end %>


  <% if @company.scorp %>
  <li class="list-group-item">
    <p>
      <strong>Company Type:</strong>
      S Corp
    </p>
  </li>
  <% end %>


  <% if @company.llc %>
  <li class="list-group-item">
    <p>
      <strong>Company Type:</strong>
      LLC
    </p>
  </li>
  <% end %>


  <% if @company.soleprop %>
  <li class="list-group-item">
    <p>
      <strong>Company Type:</strong>
      Sole Prop
    </p>
  </li>
  <% end %>


  <% if @company.partners %>
  <li class="list-group-item">
    <p>
      <strong>Partners: </strong>
      Yes
    </p>
  </li>
  <% end %>


  <% if @company.manypartners %>
  <li class="list-group-item">
    <p>
      <strong>More than 100 partners: </strong>
      Yes
    </p>
  </li>
  <% end %>


  <% if @company.employees %>
  <li class="list-group-item">
    <p>
      <strong>Employees:</strong>
      Yes
    </p>
  </li>
  <% end %>


  <% if @company.employeebenefits %>
  <li class="list-group-item">
    <p>
      <strong>Employee Benefits:</strong>
      Yes
    </p>
  </li>
  <% end %>

  <% if @company.contractors %>
  <li class="list-group-item">
    <p>
      <strong>Contractors:</strong>
      Yes
    </p>
  </li>
  <% end %>


  <% if @company.agriculture %>
  <li class="list-group-item">
    <p>
      <strong>Agriculture Employees:</strong>
      Yes
    </p>
  </li>
  <% end %>

  <% if @company.incomeproperties %>
  <li class="list-group-item">
    <p>
      <strong>Income Properties:</strong>
      Yes
    </p>
  </li>
  <% end %>

  <% if @company.ff %>
  <li class="list-group-item">
    <p>
      <strong>Fishing and Farming:</strong>
      Yes
    </p>
  </li>
  <% end %>

  <% if @company.wagering %>
  <li class="list-group-item">
    <p>
      <strong>Casino and Gambling:</strong>
      Yes
    </p>
  </li>
  <% end %>

  <% if @company.trucking %>
  <li class="list-group-item">
    <p>
      <strong>Vehicle with gross weight of 55,000 or more:</strong>
      Yes
    </p>
  </li>
  <% end %>

  <% if @company.excisetax %>
  <li class="list-group-item">
    <p>
      <strong>Excise Tax:</strong>
      Yes
    </p>
  </li>
  <% end %>
</ul>
<br>

<%= link_to 'Edit My Info', edit_company_path(@company), class: "btn btn-primary btn-mini" %>
<div class="space"></div>


<%= month_calendar events: @company.forms do |date, forms| %>
  <%= date %>
  <% forms.each do |form| %>
    <div class="calendarlink">
      <%= link_to form.name, form.url, target: '_blank', class:'formurl'%>
    </div>
  <% end %>
<% end %>
